<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
             mustMatch="true">
	<serverUrls>
		<serverUrl url="http://services.arcgisonline.com"
	                   matchAll="true"/>
		<serverUrl url="http://route.arcgis.com"
		    clientId="Hx1hNCW9wPi9EOs0"
		    clientSecret="3797c6ff513e4e80b90d8f99d9f143de"
		    rateLimit="600"
		    rateLimitPeriod="60"
		    matchAll="true" />
		<serverUrl url="http://traffic.arcgis.com"
		    clientId="Hx1hNCW9wPi9EOs0"
		    clientSecret="3797c6ff513e4e80b90d8f99d9f143de"
		    rateLimit="600"
		    rateLimitPeriod="60"
		    matchAll="true" />
	</serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
